 agm-map {
    height: 600px;
    
  }
  
  ::ng-deep .agm-map-container-inner .sebm-google-map-container-inner{
    border: 2px solid red;
    border-radius: 15px;
    margin-top: 200px;

    }
  * {
    font-family: Lato;
  }
  
  a {
    color: darkblue;
  }
  .map-full-card-content {
    height: 100% !important;
    width: 100%;
    margin: 0;
  
    agm-map {
      height: calc(100% - 12px) !important;
      width: 100%;
    }
  }